$main-font-color: #00222d;
$bg-color: #a8dadc;
$level-input-color: #88bee0;
$button-hover-color: #5f95b7;
$button-disabled-color: #78aed0;
$danger-color: #e63946;
$primary-color: #457b9d;
$secondary-color: #1d3557;
